@import "../../vars.scss";

.RichText-Editor {
    &-H1 {
        font-style: normal;
        color: $color-black;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
    }

    &-H2 {
        font-style: normal;
        color: $color-black;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }

    &-H3 {
        font-style: normal;
        color: $color-black;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

    &-Ol {
        color: $color-black;
        list-style-type: decimal;
        padding: 0;
        margin: 0;
        margin-left: 16px;
        list-style-position: inside;
    }

    &-Ul {
        color: $color-black;
        list-style-type: disc;
        padding: 0;
        margin: 0;
        margin-left: 16px;
        list-style-position: inside;

        &::marker {
            unicode-bidi: isolate;
            font-variant-numeric: tabular-nums;
            text-transform: none;
            text-indent: 0px !important;
            text-align: start !important;
            text-align-last: start !important;
        }
    }

    &-Item {
        margin: 8px 32px 8px 32px;
    }

    &-NestedItem {
    }

    &-Quote {
        margin: 0;
        margin-left: 20px;
        font-size: 15px;
        color: rgb(101, 103, 107);
        border-left-color: rgb(206, 208, 212);
        border-left-width: 4px;
        border-left-style: solid;
        padding-left: 16px;
    }

    &-Code {
        background-color: rgb(240, 242, 245);
        font-family: Menlo, Consolas, Monaco, monospace;
        display: block;
        padding: 8px 8px 8px 52px;
        line-height: 1.53;
        font-size: 13px;
        margin: 0;
        margin-top: 8px;
        margin-bottom: 8px;
        tab-size: 2;
        white-space: pre;
        overflow-x: auto;
        position: relative;
    }

    &-Link {
        font-weight: 500;
        text-decoration: underline;
        color: $color-blue-5;
        cursor: pointer;
        position: relative;
    }

    &-TextBold {
        font-weight: bold;
    }

    &-TextItalic {
        font-style: italic;
    }

    &-TextUnderline {
        text-decoration: underline;
    }

    &-TextStrikethrough {
        text-decoration: line-through;
    }

    &-TextUnderlineStrikethrough {
        text-decoration: underline line-through;
    }

    &-UserMention {
        font-weight: 700;
        color: $color-blue-6;

        &-Clickable {
            font-weight: 700;
            color: $color-blue-6;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
